@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-black box-border;
  }

  *,
  ::before,
  ::after {
    box-sizing: inherit;
    color: inherit;
    font-weight: inherit;
    font-family: inherit;
  }
}